{% extends 'base.html' %}
{% block title %} Bookings{% endblock title %}

{% block body %}
{% load static %}

<div class="container mt-2 ">

 <center><h1><span class="badge badge-info mt-3"> ABOUT CAR RENTAL SYSTEM </span> </h1></center>
  <img src="{% static 'mustanggt.jpg' %}" class="card-img" alt="..."class="container-fluid">
  <p class="card-text">You avoid adding mileage to your personal car's odometer that would depreciate its value. You can save money by choose a rental car that gets better gas mileage than your own car. A smart rental choice can keep you and your travelers comfortable by providing more seating options and plenty of room for your luggage
    Most rental car companies stipulate that you return the car with a full tank, and if you don't, you'll get charged for the gas you didn't put in the car at rental car rates. And rental car companies often charge significantly more for gas than local gas rates.
  </p>

<hr>

<h1><span class="badge badge-dark mt-3"></span> Personal Info: </span> </h1>

<div class="card-group ">
  
    <div class="row no-gutters">
      
      <div class="col md-4">
        <div class="card-body">
          <h5 class="card-title">NITISH BHARDWAJ</h5>
          <p class="card-text">ADDRESS: Jp Nagar,Bangalore,Karnataka</p>
          <p class="card-text"><small class="text-muted">EMAIL ID:</small> nitishbh19999@gmail.com</p>
        </div>
      </div>
    
  

  
    
     
      <div class="col md-4">
        <div class="card-body">
          <h5 class="card-title">SUDHANSHU TIWARI</h5>
          <p class="card-text">ADDRESS: Sarjapura,Bangalore,Karnataka</p>
          <p class="card-text"><small class="text-muted">EMAIL ID:</small> sudhanshut084@gmail.com</p>
        </div>
      </div>
      <div class="col md-4">
        <div class="card-body">
          <h5 class="card-title">JUNAID</h5>
          <p class="card-text">ADDRESS: Sarjapura,Bangalore,Karnataka</p>
          <p class="card-text"><small class="text-muted">EMAIL ID:</small> junaid084@gmail.com</p>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}

